type volte_imcb_socket, file_type;
type volte_ut_socket, file_type;
type volte_ua_socket, file_type;
type volte_stack_socket, file_type;
type wfca_socket, file_type;
type bip_socket, file_type;
type vendor_bip_socket, file_type;

