# ==============================================
# Policy File of storagemanagerd Executable File

# ==============================================
# Type Declaration
# ==============================================

# Act as 'vold' context to mount storages

# ==============================================
# MTK Policy Rule
# ==============================================
