# ==============================================
# MTK Policy Rule
# ==============================================

# CPUFREQ
type mbimd_exec, exec_type, file_type, vendor_file_type;
