# Purpose: [HotKnot][HotKnot service will use devmap_device device node]
# Package: com.mediatek.hotknot.service
# Date: 2017/04/17
# Operation: Phase Out
# Comment: Hotknot is phased out from Android O, keep it for other applications
allow system_app devmap_device:chr_file { read ioctl open };

# Purpose: [HotKnot][HotKnot service will use mtkfb device node]
# Package: com.mediatek.hotknot.service
# Date: 2017/04/17
# Operation: Phase Out
# Comment: Hotknot is phased out from Android O, keep it for other applications
allow system_app graphics_device:chr_file { read write ioctl open };
allow system_app graphics_device:dir search;

# Purpose: [IR-Learning][ConsumerIrHostService will use irtx_device device node]
# Package: com.mediatek.hardware.consumerir
allow system_app irtx_device:chr_file { read write ioctl open };

# Purpose: [IR-Learning][ConsumerIrHostService will use irrx_device device node]
# Package: com.mediatek.hardware.consumerir
allow system_app irrx_device:chr_file { read write ioctl open };

# Purpose : for MTK Emulator HW GPU
allow system_app qemu_pipe_device:chr_file rw_file_perms;

# Purpose: It's not normal behavior, that system_app want to access radio_file_data
# Package: android.ui
dontaudit system_app radio_data_file:dir search;

# Purpose: [sysoper][sysoper will create folder /cache/recovery]
# Package: com.mediatek.systemupdate.sysoper
allow system_app cache_file:dir { write create add_name };
allow system_app cache_file:file { write create open };

# Purpose : Permission related to VIE for adding service.
allow system_app vie_command_service:service_manager add;

# Purpose : Add permission for program binary service find from ServiceManager.
allow system_app program_binary_service:service_manager find;

# Purpose : Add permission for DataProtection select file to encrypt.
allow system_app media_rw_data_file:dir { read open write remove_name search add_name };
allow system_app media_rw_data_file:file { read write create unlink open rename };
allow system_app media_rw_data_file:dir rmdir;

# Purpose : Add permission for DataProtection select file to encrypt.
allow system_app vfat:dir { write remove_name add_name };
allow system_app vfat:file { rename create unlink };

# Purpose: Add permission to access recovery folder and write command files to recovery for System Update
allow system_app cache_recovery_file:dir { write search add_name remove_name };
allow system_app cache_recovery_file:file { read write create open getattr unlink };

# Purpose : Allow system app to create a dir in sdcard
allow system_app vfat:dir create;

# Purpose : allow AT tool to do aee command
allow system_app aee_aed:unix_stream_socket connectto;

# Purpose : allow SystemUpdate to access ota_package file
allow system_app ota_package_file:dir { read open write create remove_name search rename add_name getattr };
allow system_app ota_package_file:file { read write create open rename getattr unlink };

# Purpose : allow SystemUpdate to access Update engine
allow system_app update_engine:binder { call transfer };
