type aee_hal,domain;
type aee_hal_exec, exec_type, file_type, vendor_file_type;
typeattribute aee_hal mlstrustedsubject;

# Purpose : for create hidl server
hal_server_domain(aee_hal, mtk_hal_log)

init_daemon_domain(aee_hal)

set_prop(aee_hal, persist_mtk_aeev_prop);
set_prop(aee_hal, persist_aeev_prop);
set_prop(aee_hal, debug_mtk_aeev_prop);
