# Purpose: Allow to access ged for gralloc_extra functions
allow appdomain proc_ged:file rw_file_perms;
allowxperm appdomain proc_ged:file ioctl { proc_ged_ioctls };

# Purpose : DRM / DRI GPU driver required
allow appdomain gpu_device:dir search;

# Purpose : Allow HWUI to access perfmgr
allow appdomain proc_perfmgr:dir search;
allow appdomain proc_perfmgr:file { getattr open read ioctl};
allowxperm appdomain proc_perfmgr:file ioctl {
  PERFMGR_FPSGO_QUEUE
  PERFMGR_FPSGO_DEQUEUE
  PERFMGR_FPSGO_QUEUE_CONNECT
  PERFMGR_FPSGO_BQID
};

# Purpose : For platform app com.android.gallery3d
allow { appdomain -isolated_app } radio_data_file:file rw_file_perms;

# Purpose : For app com.tencent.qqpimsecure
allowxperm appdomain appdomain:fifo_file ioctl SNDCTL_TMR_START;

# Purpose : appdomain need get mtk_amslog_prop
get_prop(appdomain, mtk_amslog_prop)

# Allow appdomain to get exported_default_prop
get_prop(appdomain, vendor_camera_prop)
get_prop(appdomain, exported_default_prop)

# allow apps to read battery status
r_dir_file(untrusted_app, sysfs_usb_supply)
