# call camerahalserver
binder_call(cameraserver, mtk_hal_camera)

# call the graphics allocator hal
binder_call(cameraserver, hal_graphics_allocator)

# Purpose: adb shell dumpsys media.camera --unreachable
allow cameraserver self:process ptrace;

# Purpose : HDMI driver access
allow cameraserver graphics_device:chr_file rw_file_perms;

# Purpose: research root dir "/"
allow cameraserver tmpfs:dir search;

# Purpose : EGL file access
allow cameraserver system_file:dir r_dir_perms;
allow cameraserver gpu_device:chr_file rw_file_perms;
allow cameraserver gpu_device:dir search;

# Purpose: Allow to access ged for gralloc_extra functions
allow cameraserver proc_ged:file rw_file_perms;
allowxperm cameraserver proc_ged:file ioctl proc_ged_ioctls;

# Purpose: Allow to access debugfs_ion dir.
allow cameraserver system_data_file:lnk_file read;

# Operation : Migration
allow cameraserver debugfs_ion:dir search;

# Purpose: Allow permgr access
allow cameraserver proc_perfmgr:dir r_dir_perms;
allow cameraserver proc_perfmgr:file r_file_perms;
allowxperm cameraserver proc_perfmgr:file ioctl {
  PERFMGR_FPSGO_QUEUE
  PERFMGR_FPSGO_DEQUEUE
  PERFMGR_FPSGO_QUEUE_CONNECT
  PERFMGR_FPSGO_BQID
};

# Purpose : PDA Driver
allow cameraserver camera_pda_device:chr_file rw_file_perms;
