# Purpose: add for MD log filter
allow em_svr md_block_device:blk_file r_file_perms;

# Purpose: add for SIB capture
allow em_svr para_block_device:blk_file rw_file_perms;
allow em_svr proc_lk_env:file rw_file_perms;
