# Purpose: Allow ephemeral app to access mtk jpeg
allow ephemeral_app proc_mtk_jpeg:file rw_file_perms;
allowxperm ephemeral_app proc_mtk_jpeg:file ioctl {
  JPG_BRIDGE_DEC_IO_LOCK
  JPG_BRIDGE_DEC_IO_WAIT
  JPG_BRIDGE_DEC_IO_UNLOCK
};
