# ==============================================
# MTK Policy Rule
# ==============================================

# Purpose: Allow app GPU library to use MDP HIDL
hal_client_domain(ephemeral_app, hal_mms)
