allow flags_health_check apexd_prop:file { getattr map open };
allow flags_health_check atci_sys_prop:file { getattr map open };
allow flags_health_check atm_ipaddr_prop:file { getattr map open };
allow flags_health_check atm_mdmode_prop:file { getattr map open };
allow flags_health_check bluetooth_a2dp_offload_prop:file { getattr map open };
allow flags_health_check bluetooth_audio_hal_prop:file { getattr map open };
allow flags_health_check bluetooth_prop:file { getattr map open };
allow flags_health_check bootani_prop:file { getattr map open };
allow flags_health_check boottime_prop:file { getattr map open };
allow flags_health_check bpf_progs_loaded_prop:file { getattr map open };
allow flags_health_check cpu_variant_prop:file { getattr map open };
allow flags_health_check ctl_adbd_prop:file { getattr map open };
allow flags_health_check ctl_bootanim_prop:file { getattr map open };
allow flags_health_check ctl_bugreport_prop:file { getattr map open };
allow flags_health_check ctl_ccci2_fsd_prop:file { getattr map open };
allow flags_health_check ctl_ccci2_rpcd_prop:file { getattr map open };
allow flags_health_check ctl_ccci3_fsd_prop:file { getattr map open };
allow flags_health_check ctl_ccci_fsd_prop:file { getattr map open };
allow flags_health_check ctl_ccci_rpcd_prop:file { getattr map open };
allow flags_health_check ctl_console_prop:file { getattr map open };
allow flags_health_check ctl_default_prop:file { getattr map open };
allow flags_health_check ctl_dumpstate_prop:file { getattr map open };
allow flags_health_check ctl_emdlogger1_prop:file { getattr map open };
allow flags_health_check ctl_emdlogger2_prop:file { getattr map open };
allow flags_health_check ctl_emdlogger3_prop:file { getattr map open };
allow flags_health_check ctl_fuse_prop:file { getattr map open };
allow flags_health_check ctl_fusion_ril_mtk_prop:file { getattr map open };
allow flags_health_check ctl_gsid_prop:file { getattr map open };
allow flags_health_check ctl_gsm0710muxd_prop:file { getattr map open };
allow flags_health_check ctl_interface_restart_prop:file { getattr map open };
allow flags_health_check ctl_interface_start_prop:file { getattr map open };
allow flags_health_check ctl_interface_stop_prop:file { getattr map open };
allow flags_health_check ctl_mdlogger_prop:file { getattr map open };
allow flags_health_check ctl_mdnsd_prop:file { getattr map open };
allow flags_health_check ctl_muxreport-daemon_prop:file { getattr map open };
allow flags_health_check ctl_restart_prop:file { getattr map open };
allow flags_health_check ctl_ril-daemon-mtk_prop:file { getattr map open };
allow flags_health_check ctl_ril-proxy_prop:file { getattr map open };
allow flags_health_check ctl_rildaemon_prop:file { getattr map open };
allow flags_health_check ctl_sigstop_prop:file { getattr map open };
allow flags_health_check ctl_start_prop:file { getattr map open };
allow flags_health_check ctl_stop_prop:file { getattr map open };
allow flags_health_check ctl_viarild_prop:file { getattr map open };
allow flags_health_check debug_bq_dump_prop:file { getattr map open };
allow flags_health_check debug_mdlogger_prop:file { getattr map open };
allow flags_health_check debug_mtk_aee_prop:file { getattr map open };
allow flags_health_check debug_mtklog_prop:file { getattr map open };
allow flags_health_check debug_netlog_prop:file { getattr map open };
allow flags_health_check device_logging_prop:file { getattr map open };
allow flags_health_check dumpstate_options_prop:file { getattr map open };
allow flags_health_check dynamic_system_prop:file { getattr map open };
allow flags_health_check exported_audio_prop:file { getattr map open };
allow flags_health_check exported_bluetooth_prop:file { getattr map open };
allow flags_health_check exported_overlay_prop:file { getattr map open };
allow flags_health_check exported_wifi_prop:file { getattr map open };
allow flags_health_check graphics_hwc_hdr_prop:file { getattr map open };
allow flags_health_check graphics_hwc_latch_unsignaled_prop:file { getattr map open };
allow flags_health_check graphics_hwc_pid_prop:file { getattr map open };
allow flags_health_check gsid_prop:file { getattr map open };
allow flags_health_check heapprofd_enabled_prop:file { getattr map open };
allow flags_health_check hwservicemanager_prop:file { getattr map open };
allow flags_health_check init_svc_aee_aedv_prop:file { getattr map open };
allow flags_health_check init_svc_emdlogger1_prop:file { getattr map open };
allow flags_health_check init_svc_md_monitor_prop:file { getattr map open };
allow flags_health_check llkd_prop:file { getattr map open };
allow flags_health_check logmuch_prop:file { getattr map open };
allow flags_health_check logpersistd_logging_prop:file { getattr map open };
allow flags_health_check lowpan_prop:file { getattr map open };
allow flags_health_check lpdumpd_prop:file { getattr map open };
allow flags_health_check media_wfd_prop:file { getattr map open };
allow flags_health_check meta_connecttype_prop:file { getattr map open };
allow flags_health_check mmc_prop:file { getattr map open };
allow flags_health_check mobile_log_prop:file { getattr map open };
allow flags_health_check mtk_amsaal_prop:file { getattr map open };
allow flags_health_check mtk_amslog_prop:file { getattr map open };
allow flags_health_check mtk_apptoken_required_prop:file { getattr map open };
allow flags_health_check mtk_bgdata_disabled:file { getattr map };
allow flags_health_check mtk_bluetooth_prop:file { getattr map open };
allow flags_health_check mtk_capability_switch_prop:file { getattr map open };
allow flags_health_check mtk_cba_activation:file { map open };
allow flags_health_check mtk_cdma_ecm_prop:file { getattr map open };
allow flags_health_check mtk_clientapi_support_prop:file { getattr map open };
allow flags_health_check mtk_common_data_prop:file { getattr map open };
allow flags_health_check mtk_ctmslot_prop:file { getattr map open };
allow flags_health_check mtk_dmc_prop:file { getattr map open };
allow flags_health_check mtk_duraspeed_drop_caches:file { getattr map open };
allow flags_health_check mtk_em_net_auto_tethering_prop:file { map open };
allow flags_health_check mtk_em_sys_prop:file { getattr map open };
allow flags_health_check mtk_em_tel_log_prop:file { getattr map open };
allow flags_health_check mtk_gprs_attach_type:file { getattr map open };
allow flags_health_check mtk_heavy_loading_prop:file { getattr map open };
allow flags_health_check mtk_nn_option_prop:file { getattr map open };
allow flags_health_check mtk_opt_in_url_prop:file { getattr map open };
allow flags_health_check mtk_pkm_init_prop:file { getattr map open };
allow flags_health_check mtk_power_off_md_type:file { getattr map open };
allow flags_health_check mtk_powerhal_prop:file { getattr map open };
allow flags_health_check mtk_rcs_support_prop:file { getattr map open };
allow flags_health_check mtk_rtt_prop:file { getattr map open };
allow flags_health_check mtk_selfreg_prop:file { getattr map open };
allow flags_health_check mtk_subsidylock_prop_connect:file { getattr map open };
allow flags_health_check mtk_system_update_support_prop:file { getattr map };
allow flags_health_check mtk_telecom_vibrate:file { getattr map open };
allow flags_health_check mtk_telephony_sensitive_prop:file { getattr map open };
allow flags_health_check mtk_thermal_config_prop:file { getattr map open };
allow flags_health_check mtk_uce_support_prop:file { map open };
allow flags_health_check mtk_vsim_sys_prop:file { getattr open };
allow flags_health_check mtk_wfc_opt_in_prop:file open;
allow flags_health_check mtk_world_phone_prop:file open;
allow flags_health_check persist_aee_prop:file open;
allow flags_health_check persist_vendor_vzw_device_type:file open;
allow flags_health_check safemode_prop:file open;
allow flags_health_check system_boot_reason_prop:file open;
allow flags_health_check system_trace_prop:file open;
allow flags_health_check vendor_usb_prop:file { getattr map open };
allow flags_health_check wifi_prop:file { getattr map open };
