# Set a new domain
type fm_hidl_service, domain;

# Set domain as server domain of mtk_hal_fm
hal_server_domain(fm_hidl_service, mtk_hal_fm)

# Set exec file type
type fm_hidl_service_exec, exec_type, vendor_file_type, file_type;

# Setup for domain transition
init_daemon_domain(fm_hidl_service)

vndbinder_use(fm_hidl_service)

allow fm_hidl_service fm_device:chr_file { rw_file_perms };
