type fuelgauged, domain;
type fuelgauged_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(fuelgauged)

# Purpose : Fuel Gauge daemon for access driver node
allow fuelgauged input_device:dir rw_dir_perms;
allow fuelgauged input_device:file r_file_perms;

# Purpose : For meta tool calibration
allow fuelgauged mtk-adc-cali_device:chr_file rw_file_perms;

# Purpose : For fg.log can be printed with kernel log
allow fuelgauged kmsg_device:chr_file w_file_perms;

# Purpose : For fg daemon can comminucate with kernel
allow fuelgauged self:netlink_socket create_socket_perms_no_ioctl;
allow fuelgauged self:netlink_route_socket { create_socket_perms_no_ioctl nlmsg_read nlmsg_write };

allow fuelgauged self:capability { chown fsetid };

# Purpose : Add for A/B system
allow fuelgauged kernel:system module_request;

# Purpose : add fuelgauged to nvcfg read write permit
allow fuelgauged nvcfg_file:dir create_dir_perms;
allow fuelgauged nvcfg_file:file create_file_perms;

# Purpose: Allow to search /mnt/vendor/nvdata for fstab when using NVM_Init()
allow fuelgauged mnt_vendor_file:dir search;

# Purpose: Allow for nvram init
get_prop(fuelgauged, vendor_mtk_service_nvram_init_prop)
