# ==============================================
# Common SEPolicy Rule
# ==============================================

hal_attribute_hwservice(hal_mtk_bgs, mtk_hal_bgs_hwservice)

binder_call(hal_mtk_bgs_client, hal_mtk_bgs_server)
binder_call(hal_mtk_bgs_server, hal_mtk_bgs_client)
