# Purpose : interface=android.hardware.audio::IDevicesFactory for hal_audio_hwservice
binder_call(hal_audio_client, hal_audio_server)
binder_call(hal_audio_server, hal_audio_client)
hal_attribute_hwservice(hal_audio, hal_audio_hwservice)
