# HwBinder IPC from clients into server, and callbacks
binder_call(hal_mtk_mmagent_client, hal_mtk_mmagent_server)
binder_call(hal_mtk_mmagent_server, hal_mtk_mmagent_client)

# add/find permission rule to hwservicemanager
hal_attribute_hwservice(hal_mtk_mmagent, mtk_hal_mmagent_hwservice)
