# ==============================================
# Common SEPolicy Rule
# ==============================================

hal_attribute_hwservice(hal_mtk_keyattestation, mtk_hal_keyattestation_hwservice)

binder_call(hal_mtk_keyattestation_client, hal_mtk_keyattestation_server)
binder_call(hal_mtk_keyattestation_server, hal_mtk_keyattestation_client)
