# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date: 2020/08/13
# Operation : To access camera control daemon driver
allow hal_camera mtk_ccd_device:chr_file rw_file_perms;

# Date: 2020/08/13
# Operation :  To access V4L2 devices (media, video and sub devices)
allow hal_camera mtk_v4l2_media_device:dir r_dir_perms;
allow hal_camera mtk_v4l2_media_device:chr_file rw_file_perms;
allow hal_camera video_device:dir r_dir_perms;
allow hal_camera video_device:chr_file rw_file_perms;
