# ==============================================
# Common SEPolicy Rule
# ==============================================

hal_attribute_hwservice(hal_mtk_hdmi, mtk_hal_hdmi_hwservice)

binder_call(hal_mtk_hdmi_client, hal_mtk_hdmi_server)
binder_call(hal_mtk_hdmi_server, hal_mtk_hdmi_client)
