# ==============================================
# Common SEPolicy Rule
# ==============================================

hal_attribute_hwservice(hal_mtk_pq, mtk_hal_pq_hwservice)

binder_call(hal_mtk_pq_client, hal_mtk_pq_server)
binder_call(hal_mtk_pq_server, hal_mtk_pq_client)
