allow hal_nfc_default nfc_data_vendor_file:dir { rw_dir_perms };
allow hal_nfc_default nfc_data_vendor_file:file { create_file_perms rw_file_perms };

add_hwservice(hal_nfc_default, nxpnfc_hwservice)
allow hal_nfc_default nxpnfc_hwservice:hwservice_manager { find };

get_prop(hal_nfc_default, factor_prop)
