# Purpose : allow access to /data/data for full CTS
allow keystore app_data_file:file write;

# Purpose : Fix keystore boot selinux violation
allow hal_keymaster_default debugfs_tracing:file write;
