# HwBinder IPC from client to server, and callbacks
binder_call(mtk_hal_bgs_client, mtk_hal_bgs_server)
binder_call(mtk_hal_bgs_server, mtk_hal_bgs_client)

add_hwservice(mtk_hal_bgs_server, mtk_hal_bgs_hwservice)
allow mtk_hal_bgs_client mtk_hal_bgs_hwservice:hwservice_manager find;
