# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : W20.26
# Operation : Migration
# Purpose : For apps other than isolated_app call hidl
binder_call(mtk_safe_halserverdomain_type, { appdomain -isolated_app })
