# ==============================================
# Common SEPolicy Rule
# ==============================================

# system_internal_prop      -- Properties used only in /system
# system_restricted_prop    -- Properties which can't be written outside system
# system_public_prop        -- Properties with no restrictions
# system_vendor_config_prop -- Properties which can be written only by vendor_init
# vendor_internal_prop      -- Properties used only in /vendor
# vendor_restricted_prop    -- Properties which can't be written outside vendor
# vendor_public_prop        -- Properties with no restrictions

# Properties used only in /vendor
vendor_internal_prop(vendor_mtk_ctl_ccci2_fsd_prop)
vendor_internal_prop(vendor_mtk_ctl_ccci3_fsd_prop)
vendor_internal_prop(vendor_mtk_ctl_ccci_fsd_prop)
vendor_internal_prop(vendor_mtk_ctl_fusion_ril_mtk_prop)
vendor_internal_prop(vendor_mtk_ctl_gsm0710muxd_prop)
vendor_internal_prop(vendor_mtk_ctl_muxreport-daemon_prop)
vendor_internal_prop(vendor_mtk_ctl_ril-daemon-mtk_prop)
vendor_internal_prop(vendor_mtk_ctl_ril-proxy_prop)
vendor_internal_prop(vendor_mtk_ctl_viarild_prop)
vendor_internal_prop(vendor_mtk_powerhal_prop)
vendor_internal_prop(vendor_mtk_wfc_serv_prop)
vendor_internal_prop(vendor_mtk_factory_prop)
vendor_internal_prop(vendor_mtk_factory_start_prop)
vendor_internal_prop(vendor_mtk_eara_io_prop)
vendor_internal_prop(omx_core_prop)
vendor_internal_prop(persist_atm_prop)
vendor_internal_prop(mtk_crossmount_support_prop)
vendor_internal_prop(mtk_deinterlace_support_prop)
vendor_internal_prop(wfd_sys_debug_prop)
vendor_internal_prop(vendor_tee_listener_prop)
vendor_internal_prop(vendor_system_prop)
vendor_internal_prop(vendor_dpliner_prop)
vendor_internal_prop(thermal_engine_prop)
vendor_internal_prop(factor_prop)

# Properties which can't be written outside vendor
vendor_restricted_prop(vendor_mtk_aal_ro_prop)
vendor_restricted_prop(vendor_mtk_anr_support_prop)
vendor_restricted_prop(vendor_mtk_app_prop)
vendor_restricted_prop(vendor_mtk_appresolutiontuner_prop)
vendor_restricted_prop(vendor_mtk_atci_prop)
vendor_restricted_prop(vendor_mtk_atm_ipaddr_prop)
vendor_restricted_prop(vendor_mtk_atm_mdmode_prop)
vendor_restricted_prop(vendor_mtk_audiohal_prop)
vendor_restricted_prop(vendor_mtk_bt_sap_enable_prop)
vendor_restricted_prop(vendor_mtk_coredump_prop)
vendor_restricted_prop(vendor_mtk_ct_ir_engmode_prop)
vendor_restricted_prop(vendor_mtk_ct_volte_prop)
vendor_restricted_prop(vendor_mtk_cxp_vendor_prop)
vendor_restricted_prop(vendor_mtk_debug_md_reset_prop)
vendor_restricted_prop(vendor_mtk_default_prop)
vendor_restricted_prop(vendor_mtk_disable_c2k_cap_prop)
vendor_restricted_prop(vendor_mtk_display_ro_prop)
vendor_restricted_prop(vendor_mtk_dsbp_support_prop)
vendor_restricted_prop(vendor_mtk_em_hidl_prop)
vendor_restricted_prop(vendor_mtk_emmc_support_prop)
vendor_restricted_prop(vendor_mtk_em_prop)
vendor_restricted_prop(vendor_mtk_em_usb_prop)
vendor_restricted_prop(vendor_mtk_factory_idle_state_prop)
vendor_restricted_prop(vendor_mtk_fullscreenswitch_prop)
vendor_restricted_prop(vendor_mtk_gprs_prefer_prop)
vendor_restricted_prop(vendor_mtk_gps_support_prop)
vendor_restricted_prop(vendor_mtk_graphics_hwc_hdr_prop)
vendor_restricted_prop(vendor_mtk_graphics_hwc_pid_prop)
vendor_restricted_prop(vendor_mtk_graphics_hwc_validate_separate_prop)
vendor_restricted_prop(vendor_mtk_gsm0710muxd_prop)
vendor_restricted_prop(vendor_mtk_hdmi_prop)
vendor_restricted_prop(vendor_mtk_imstestmode_prop)
vendor_restricted_prop(vendor_mtk_malloc_debug_backtrace_prop)
vendor_restricted_prop(vendor_mtk_md_prop)
vendor_restricted_prop(vendor_mtk_md_version_prop)
vendor_restricted_prop(vendor_mtk_mediatek_prop)
vendor_restricted_prop(vendor_mtk_meta_connecttype_prop)
vendor_restricted_prop(vendor_mtk_mnld_prop)
vendor_restricted_prop(vendor_mtk_modem_warning_prop)
vendor_restricted_prop(vendor_mtk_net_cdma_mdmstat_prop)
vendor_restricted_prop(vendor_mtk_nn_option_prop)
vendor_restricted_prop(vendor_mtk_gbe_prop)
vendor_restricted_prop(vendor_mtk_nvram_ready_prop)
vendor_restricted_prop(vendor_mtk_omx_log_prop)
vendor_restricted_prop(vendor_mtk_operator_id_prop)
vendor_restricted_prop(vendor_mtk_persist_service_atci_prop)
vendor_restricted_prop(vendor_mtk_pq_prop)
vendor_restricted_prop(vendor_mtk_pq_ro_prop)
vendor_restricted_prop(vendor_mtk_radio_prop)
vendor_restricted_prop(vendor_mtk_rat_config_prop)
vendor_restricted_prop(vendor_mtk_ril_active_md_prop)
vendor_restricted_prop(vendor_mtk_ril_cdma_report_prop)
vendor_restricted_prop(vendor_mtk_ril_ipo_prop)
vendor_restricted_prop(vendor_mtk_ril_mode_prop)
vendor_restricted_prop(vendor_mtk_ril_mux_report_case_prop)
vendor_restricted_prop(vendor_mtk_service_nvram_init_prop)
vendor_restricted_prop(vendor_mtk_simswitch_emmode_prop)
vendor_restricted_prop(vendor_mtk_smsformat_prop)
vendor_restricted_prop(vendor_mtk_telephony_sensitive_prop)
vendor_restricted_prop(vendor_mtk_tel_switch_prop)
vendor_restricted_prop(vendor_mtk_testsim_cardtype_prop)
vendor_restricted_prop(vendor_mtk_thermal_config_prop)
vendor_restricted_prop(vendor_mtk_usb_otg_switch_prop)
vendor_restricted_prop(vendor_mtk_usb_prop)
vendor_restricted_prop(vendor_mtk_c2_log_prop)
vendor_restricted_prop(vendor_mtk_vdec_log_prop)
vendor_restricted_prop(vendor_mtk_vdectlc_log_prop)
vendor_restricted_prop(vendor_mtk_venc_h264_showlog_prop)
vendor_restricted_prop(vendor_mtk_voicerecgnize_prop)
vendor_restricted_prop(vendor_mtk_volte_prop)
vendor_restricted_prop(vendor_mtk_wifi_hotspot_prop)
vendor_restricted_prop(vendor_mtk_wifi_hal_prop)
vendor_restricted_prop(vendor_mtk_wmt_prop)
vendor_restricted_prop(vendor_mtk_gpu_prop)
vendor_restricted_prop(vendor_mtk_powerhal_gpu_prop)
vendor_restricted_prop(vendor_mtk_sensor_prop)
vendor_restricted_prop(vendor_mtk_device_prop)
vendor_restricted_prop(vendor_mtk_input_resample_latency_prop)
vendor_restricted_prop(vendor_mtk_input_report_rate_prop)
vendor_restricted_prop(vendor_mtk_video_prop)
vendor_restricted_prop(vendor_mtk_frs_prop)
vendor_restricted_prop(vendor_mtk_vm_prop)
vendor_restricted_prop(vendor_mtk_aod_support_prop)
vendor_restricted_prop(vendor_mtk_soc_prop)
vendor_restricted_prop(vendor_mtk_prefer64_prop)
vendor_restricted_prop(vendor_mtk_bt_aac_vbr_prop)
vendor_restricted_prop(vendor_mtk_bt_perf_prop)
vendor_restricted_prop(vendor_mtk_hwc_debug_log_prop)
vendor_restricted_prop(vendor_mtk_mdp_debug_log_prop)
vendor_restricted_prop(vendor_mtk_debug_sf_cpupolicy_prop)
vendor_restricted_prop(vendor_mtk_neuropilot_flag_prop)
vendor_restricted_prop(vendor_mtk_mdrsra_v2_support_prop)
vendor_restricted_prop(vendor_mtk_xfrm_support_prop)
vendor_restricted_prop(vendor_debug_logger_prop)
vendor_restricted_prop(vendor_video_prop)
vendor_restricted_prop(vendor_camera_prop)
vendor_restricted_prop(vendor_audio_prop)
vendor_restricted_prop(vendor_bt_prop)
vendor_restricted_prop(vendor_wlan_fw_prop)
vendor_restricted_prop(vendor_telephony_prop)
vendor_restricted_prop(vendor_render_prop)
vendor_restricted_prop(vendor_net_dn_prop)

# Properties with can be read by all domains
typeattribute vendor_mtk_aal_ro_prop                 mtk_core_property_type;
typeattribute vendor_mtk_anr_support_prop            mtk_core_property_type;
typeattribute vendor_mtk_app_prop                    mtk_core_property_type;
typeattribute vendor_mtk_appresolutiontuner_prop     mtk_core_property_type;
typeattribute vendor_mtk_atci_prop                   mtk_core_property_type;
typeattribute vendor_mtk_audiohal_prop               mtk_core_property_type;
typeattribute vendor_mtk_bt_sap_enable_prop          mtk_core_property_type;
typeattribute vendor_mtk_coredump_prop               mtk_core_property_type;
typeattribute vendor_mtk_ct_ir_engmode_prop          mtk_core_property_type;
typeattribute vendor_mtk_ct_volte_prop               mtk_core_property_type;
typeattribute vendor_mtk_cxp_vendor_prop             mtk_core_property_type;
typeattribute vendor_mtk_debug_md_reset_prop         mtk_core_property_type;
typeattribute vendor_mtk_default_prop                mtk_core_property_type;
typeattribute vendor_mtk_disable_c2k_cap_prop        mtk_core_property_type;
typeattribute vendor_mtk_dsbp_support_prop           mtk_core_property_type;
typeattribute vendor_mtk_em_hidl_prop                mtk_core_property_type;
typeattribute vendor_mtk_emmc_support_prop           mtk_core_property_type;
typeattribute vendor_mtk_em_prop                     mtk_core_property_type;
typeattribute vendor_mtk_em_usb_prop                 mtk_core_property_type;
typeattribute vendor_mtk_factory_idle_state_prop     mtk_core_property_type;
typeattribute vendor_mtk_fullscreenswitch_prop       mtk_core_property_type;
typeattribute vendor_mtk_gprs_prefer_prop            mtk_core_property_type;
typeattribute vendor_mtk_gps_support_prop            mtk_core_property_type;
typeattribute vendor_mtk_gsm0710muxd_prop            mtk_core_property_type;
typeattribute vendor_mtk_hdmi_prop                   mtk_core_property_type;
typeattribute vendor_mtk_imstestmode_prop            mtk_core_property_type;
typeattribute vendor_mtk_malloc_debug_backtrace_prop mtk_core_property_type;
typeattribute vendor_mtk_md_prop                     mtk_core_property_type;
typeattribute vendor_mtk_md_version_prop             mtk_core_property_type;
typeattribute vendor_mtk_mediatek_prop               mtk_core_property_type;
typeattribute vendor_mtk_mnld_prop                   mtk_core_property_type;
typeattribute vendor_mtk_modem_warning_prop          mtk_core_property_type;
typeattribute vendor_mtk_net_cdma_mdmstat_prop       mtk_core_property_type;
typeattribute vendor_mtk_nvram_ready_prop            mtk_core_property_type;
typeattribute vendor_mtk_omx_log_prop                mtk_core_property_type;
typeattribute vendor_mtk_operator_id_prop            mtk_core_property_type;
typeattribute vendor_mtk_persist_service_atci_prop   mtk_core_property_type;
typeattribute vendor_mtk_pq_prop                     mtk_core_property_type;
typeattribute vendor_mtk_pq_ro_prop                  mtk_core_property_type;
typeattribute vendor_mtk_radio_prop                  mtk_core_property_type;
typeattribute vendor_mtk_rat_config_prop             mtk_core_property_type;
typeattribute vendor_mtk_ril_active_md_prop          mtk_core_property_type;
typeattribute vendor_mtk_ril_cdma_report_prop        mtk_core_property_type;
typeattribute vendor_mtk_ril_ipo_prop                mtk_core_property_type;
typeattribute vendor_mtk_ril_mode_prop               mtk_core_property_type;
typeattribute vendor_mtk_ril_mux_report_case_prop    mtk_core_property_type;
typeattribute vendor_mtk_service_nvram_init_prop     mtk_core_property_type;
typeattribute vendor_mtk_simswitch_emmode_prop       mtk_core_property_type;
typeattribute vendor_mtk_smsformat_prop              mtk_core_property_type;
typeattribute vendor_mtk_tel_switch_prop             mtk_core_property_type;
typeattribute vendor_mtk_testsim_cardtype_prop       mtk_core_property_type;
typeattribute vendor_mtk_usb_otg_switch_prop         mtk_core_property_type;
typeattribute vendor_mtk_vdec_log_prop               mtk_core_property_type;
typeattribute vendor_mtk_vdectlc_log_prop            mtk_core_property_type;
typeattribute vendor_mtk_venc_h264_showlog_prop      mtk_core_property_type;
typeattribute vendor_mtk_voicerecgnize_prop          mtk_core_property_type;
typeattribute vendor_mtk_volte_prop                  mtk_core_property_type;
typeattribute vendor_mtk_wifi_hotspot_prop           mtk_core_property_type;
typeattribute vendor_mtk_wifi_hal_prop               mtk_core_property_type;
typeattribute vendor_mtk_wmt_prop                    mtk_core_property_type;
typeattribute vendor_mtk_gpu_prop                    mtk_core_property_type;
typeattribute vendor_mtk_powerhal_gpu_prop           mtk_core_property_type;
typeattribute vendor_mtk_sensor_prop                 mtk_core_property_type;
typeattribute vendor_mtk_input_resample_latency_prop mtk_core_property_type;
typeattribute vendor_mtk_video_prop                  mtk_core_property_type;
typeattribute vendor_mtk_vm_prop                     mtk_core_property_type;
typeattribute vendor_mtk_aod_support_prop            mtk_core_property_type;
typeattribute vendor_mtk_bt_aac_vbr_prop             mtk_core_property_type;
typeattribute vendor_mtk_hwc_debug_log_prop          mtk_core_property_type;
typeattribute vendor_mtk_mdp_debug_log_prop          mtk_core_property_type;
typeattribute vendor_mtk_neuropilot_flag_prop        mtk_core_property_type;
typeattribute vendor_mtk_mdrsra_v2_support_prop      mtk_core_property_type;
typeattribute vendor_mtk_xfrm_support_prop           mtk_core_property_type;
typeattribute vendor_debug_logger_prop               mtk_core_property_type;
typeattribute vendor_telephony_prop                  mtk_core_property_type;
typeattribute vendor_render_prop                     mtk_core_property_type;
typeattribute vendor_net_dn_prop                     mtk_core_property_type;
