# ==============================================
# Common SEPolicy Rule
# ==============================================

# rild Bringup Policy
allow servicemanager rild:dir search;
allow servicemanager rild:file r_file_perms;
allow servicemanager rild:process getattr;
binder_call(servicemanager, mtk_hal_light)
binder_call(servicemanager, hal_vibrator_default)
