# Purpose : allow shell to dump the debugging information of camera hal.
binder_call(shell, mtk_hal_camera)

# Purpose : allow shell to dump the debugging information of power hal.
hal_client_domain(shell, hal_power)

# Data: 2021/12/07
# Purpose: adjust the cpu policy config
userdebug_or_eng(`
    get_prop(shell, vendor_mtk_debug_sf_cpupolicy_prop);
')
