typeattribute system_app mlstrustedsubject;

# Purpose :[CdsInfo] read/ write WI-FI MAC address by NVRAM API
# Package Name: com.mediatek.connectivity
hal_client_domain(system_app, hal_nvramagent);

hal_client_domain(system_app, mtk_hal_lbs)

# Purpose: allow set telephony Sensitive property
get_prop(system_app, mtk_telephony_sensitive_prop)

# Purpose : Change thermal config
allow system_app mtk_thermal_config_prop:file { getattr open read };

# Purpose : CAT need copy exception db file from data folder
# Package: CAT tool
allow system_app aee_exp_data_file:file r_file_perms;
allow system_app aee_exp_data_file:dir r_dir_perms;

# Purpose : JPEG need to use PQ via MMS HIDL
hal_client_domain(system_app, hal_mms)

# Purpose : system_app need use hdmi service and create socktet
allow system_app mtk_hal_hdmi_hwservice:hwservice_manager find;
allow system_app mtk_hal_hdmi:binder call;
allow system_app self:netlink_kobject_uevent_socket {read bind create setopt };

# system_app need to read from sysfs /sys/class/switch/hdmi/state
r_dir_file(system_app, sysfs_switch);

# Soter hwservice
allow system_app soter_hwservice:hwservice_manager find;

# Wechat hwservice
allow system_app hal_wechat:binder call;

# CMD hwservice
allow system_app mtk_cmdq_device:chr_file rw_file_perms;
allow system_app mtk_mdp_device:chr_file rw_file_perms;

# Zram hwservice
allow system_app sysfs_zram:dir r_dir_perms;
allow system_app sysfs_zram:file r_file_perms;

# Battery hwservice
allow system_app sysfs_boot_mode:file r_file_perms;

# Video render property
get_prop(system_app, render_prop)

# MTK FM Radio
allow system_app fm_device:chr_file rw_file_perms;
