# Purpose : Allow Whatstemp, a MTK thermal logging tool, to log thermal related information
# properly for thermal tests at OEM/ODM.
allow untrusted_app_25 proc_mtktz:dir search;
allow untrusted_app_25 proc_mtktz:file r_file_perms;
allow untrusted_app_25 proc_thermal:dir search;
allow untrusted_app_25 proc_thermal:file r_file_perms;

allow untrusted_app_25 sysfs_fps:dir search;
allow untrusted_app_25 sysfs_fps:file r_file_perms;
allow untrusted_app_25 sysfs_therm:dir r_dir_perms;
allow untrusted_app_25 sysfs_therm:file r_file_perms;

# Purpose: Allow same-process GPU library to call MDP/CMDQ via MTK MDP HAL
#          from app process, instead of via same-process MDP library, to
#          protect CMDQ device node.
hal_client_domain(untrusted_app_25, hal_mms)
