# ==============================================
# MTK Policy Rule
# ==============================================

#for drm key install
type provision_file, file_type, data_file_type;
type key_install_data_file, file_type, data_file_type;

# Date : WK18.16
# Purpose: Android Migration
type sysfs_mmcblk, fs_type, sysfs_type;

# lbs debug file
type lbs_dbg_data_file, file_type, data_file_type, core_data_file_type;
