# ==============================================
# Policy File of /vendor/bin/kisd Executable File


# ==============================================
# Type Declaration
# ==============================================

type kisd ,domain;
