# ==============================================
# Policy File of /system/bin/loghidlsysservice Executable File

# ==============================================
# Type Declaration
# ==============================================
type loghidlsysservice ,domain;




