# ==============================================
# Policy File of /system/bin/modemdbfilter_client Executable File

# ==============================================
# Type Declaration
# ==============================================

type modemdbfilter_client, domain;
