# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : 2016/07/11
# Operation: Migration
# Purpose: Add permission for gpu access
allow appdomain dri_device:chr_file rw_file_perms;

#allow mtk_sec_video_path_support
get_prop(appdomain, vendor_mtk_sec_video_path_support_prop)

#allow mtk_mtee_on_svp_support
get_prop(appdomain, vendor_mtk_svp_on_mtee_support_prop)
