allow atci_service_sys mt6605_device:chr_file { read write ioctl open getattr };
allow atci_service_sys nfc_socket:dir { write add_name remove_name search };
allow atci_service_sys nfc_socket:sock_file { create write unlink setattr };
allow atci_service_sys system_file:file execute_no_trans;

# Purpose: Allow to access ged for gralloc_extra functions
allow atci_service_sys proc_ged:file rw_file_perms;

# Purpose : Update AT_Command NFC function
allow atci_service_sys factory_data_file:sock_file write;

hwbinder_use(atci_service_sys)
hal_client_domain(atci_service_sys, hal_atci)
