# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : WK15.03
# Operation : Migration
# Purpose : offloadservice
allow audioserver offloadservice_device:chr_file rw_file_perms;

# Date : WK15.44
# Operation : Migration
# Purpose : ancservice
allow audioserver ancservice_device:chr_file rw_file_perms;

# Date : WK17.31
# Operation : ViLTE
# Purpose : for ViLTE - set VTservice has permission to access me
binder_call(audioserver, vtservice)

# Date : WK18.42
# Operation : Migration
# Purpose : adsp
allow audioserver adsp_device:chr_file rw_file_perms;
