# ==============================================
# Common SEPolicy Rule
# ==============================================

allow boot_logo_updater sysfs:dir open;
