# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : WK14.31
# Operation : Migration
# Purpose : access to sec mem proc interface.
allow bootanim proc_secmem:file r_file_perms;

# Date : WK16.29
# Operation : Migration
# Purpose : for gpu access
allow bootanim dri_device:chr_file rw_file_perms;

allow bootanim debugfs_ion:dir search;
