# extmem policy for gmo debug15 over external memory
allow domain exm0_device:chr_file rw_file_perms;

# Purpose : for device bring up, not to block early migration
allow { domain -isolated_app } storage_file:dir search;

# Purpose : for aee dump systemAPI db, get backtrace
allow domain aee_aedv:process sigchld;

# Purpose : for CTS android.os.cts.SecurityPatchTest
get_prop(domain, vendor_security_patch_level_prop)
