# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : WK19.22
# Operation : let dumpstate can read sysfs_mmcblk
# Purpose : fix Test error
allow dumpstate sysfs_devices_block:file r_file_perms;

# Purpose: workaround patch for xTS
allow dumpstate mtk_hal_neuralnetworks:process signal;
