# ==============================================
# Policy File of /system/bin/em_svr Executable File

# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date: WK1823
# Purpose: Rsc switch
allow em_svr para_block_device:blk_file w_file_perms;

# Date:2021/10/29
# Purpose: Allow EM PMU search extdev
allow em_svr sysfs_extdev:dir search;
