# Purpose: comply with Vzw eMBMS operator requirement
allow untrusted_app radio:unix_stream_socket connectto;

allow untrusted_app_25 radio:unix_stream_socket connectto;

allow platform_app radio:unix_stream_socket connectto;
