# ==============================================
# ePDG in netd.te
# ==============================================
allow netd wo_ipsec:fd use;
allow netd wo_ipsec:tcp_socket { read write setopt getopt };
allow netd wo_ipsec:udp_socket { read write setopt getopt };
allow netd wo_epdg_client:fd use;
allow netd wo_epdg_client:tcp_socket { read write setopt getopt };
allow netd wo_epdg_client:udp_socket {read write setopt getopt};
