# ==============================================
# Common SEPolicy Rule
# ==============================================

hal_attribute_hwservice(hal_mtk_apm, mtk_hal_apm_hwservice)

binder_call(hal_mtk_apm_client, hal_mtk_apm_server)
binder_call(hal_mtk_apm_server, hal_mtk_apm_client)
