# HwBinder IPC from clients into server, and callbacks
binder_call(hal_omadm_client, hal_omadm_server)
binder_call(hal_omadm_server, hal_omadm_client)

# give permission for hal client
allow hal_omadm_client mtk_hal_omadm_hwservice:hwservice_manager find;
