# ==============================================
# Common SEPolicy Rule
# ==============================================

typealias hal_wifi_supplicant_default alias wpa;
