binder_call(hal_teeregistry_client, hal_teeregistry_server)
binder_call(hal_teeregistry_server, hal_teeregistry_client)

add_hwservice(hal_teeregistry_server, hal_teeregistry_hwservice)
allow hal_teeregistry_client hal_teeregistry_hwservice:hwservice_manager find;
