# ==============================================
# Common SEPolicy Rule
# ==============================================

hal_attribute_hwservice(hal_mtk_omadm, mtk_hal_omadm_hwservice)

binder_call(hal_mtk_omadm_client, hal_mtk_omadm_server)
binder_call(hal_mtk_omadm_server, hal_mtk_omadm_client)
