# TODO:: MTK need to remove later
not_full_treble(`
    allow healthd mtkrild:unix_stream_socket connectto;
')

allow healthd sysfs_vcorefs_pwrctrl:file write;
