# ==============================================
# Common SEPolicy Rule
# ==============================================

allow healthd sysfs_vcorefs_pwrctrl:file write;
