# ==============================================
# Common SEPolicy Rule
# ==============================================

allow kernel teei_client_device:chr_file rw_file_perms;

# For FPSGO set affinity
allow kernel servicemanager:process setsched;
allow kernel surfaceflinger:process setsched;
allow kernel system_server:process setsched;
allow kernel untrusted_app_all:process setsched;
