# Purpose: Access attestation key in persist partition
allow hal_keymaster_default mnt_vendor_file:dir search;
allow hal_keymaster_default persist_data_file:dir search;
allow hal_keymaster_default persist_data_file:file { read getattr open };

# Purpose : Open MobiCore access permission for keystore CTS hardware-backed solution
allow hal_keymaster_default mobicore:unix_stream_socket { connectto read write };
allow hal_keymaster_default mobicore_user_device:chr_file rw_file_perms;

# Purpose: Microtrust HW-backed Keymaster
allow hal_keymaster_default ut_keymaster_device:chr_file { read write open ioctl};
allow hal_keymaster_default teei_client_device:chr_file { read write open ioctl};
allow hal_keymaster_default property_socket:sock_file {read write};
allow hal_keymaster_default init:unix_stream_socket {connectto};
allow hal_keymaster_default soter_teei_prop:property_service {set};
hal_client_domain(hal_keymaster_default, hal_capi)
hal_client_domain(hal_keymaster_default, hal_allocator)

# Purpose: TrustKernel HW-backed Keymaster
allow hal_keymaster_default tkcore_admin_device:chr_file { read write open ioctl };

# Purpose: Access kisd to get key & certs
allow hal_keymaster_default kisd:unix_stream_socket connectto;
