# ==============================================
# Common SEPolicy Rule
# ==============================================

# Read ro.vendor.mtk_mapi_support
get_prop(mdmi_redirector, vendor_mtk_dmc_prop)
