# ==============================================
# Common SEPolicy Rule
# ==============================================
type mtk_hal_wfo_exec, exec_type, file_type, vendor_file_type;

# hwbinder access
init_daemon_domain(mtk_hal_wfo)

hal_server_domain(mtk_hal_wfo, hal_mtk_wfo)

# Date : WK1721 2017/5/26
# Operation : IT
# Purpose: WifiOffloadService HIDL Migration
allow mtk_hal_wfo mal_mfi_socket:sock_file write;
allow mtk_hal_wfo debugfs_tracing:file w_file_perms;
