# ==============================================
# Common SEPolicy Rule
# ==============================================

type mtk_hal_codecservice_default_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(mtk_hal_codecservice_default)

hal_server_domain(mtk_hal_codecservice_default, hal_mtk_codecservice)
hal_client_domain(mtk_hal_codecservice_default, hal_allocator)
