# Purpose : Allow powerHAL to access dfps
allow mtk_hal_power mtk_hal_dfps:binder call;
hal_client_domain(mtk_hal_power, hal_dfps);

allow mtk_hal_power mtk_hal_netdagent_hwservice:hwservice_manager find;
allow mtk_hal_power netdagent:binder call;

allow mtk_hal_power mtk_hal_nwk_opt:binder call;
hal_client_domain(mtk_hal_power, hal_nwk_opt);
