type dhcp6s_exec,exec_type,file_type;

# Purpose :  ipv6 Tethering Test
#============= netd ==============
allow netd dhcp6s_exec:file execute;

# Purpose :  CAT6 T-put
allow netd mtk_perf_service:service_manager find;

# Purpose : Allow ViLTE use udp_socket
allow netd vtservice:fd use;
allow netd vtservice:udp_socket {read write setopt getopt};

# Purpose : Trustonic TEE
allow netd teeregistryd_app:fd use;
allow netd teeregistryd_app:tcp_socket { read write getopt setopt };
