# ==============================================
# Common SEPolicy Rule
# ==============================================

# system_internal_prop      -- Properties used only in /system
# system_restricted_prop    -- Properties which can't be written outside system
# system_public_prop        -- Properties with no restrictions
# system_vendor_config_prop -- Properties which can be written only by vendor_init
# vendor_internal_prop      -- Properties used only in /vendor
# vendor_restricted_prop    -- Properties which can't be written outside vendor
# vendor_public_prop        -- Properties with no restrictions

# Properties used only in /vendor
vendor_internal_prop(vendor_mtk_ctl_ccci_rpcd_prop)
vendor_internal_prop(vendor_mtk_ctl_ccci2_rpcd_prop)
vendor_internal_prop(vendor_mtk_rpmb_ready_prop)

# Properties which can't be written outside vendor
vendor_restricted_prop(vendor_mtk_active_noise_cancel_prop)
vendor_restricted_prop(vendor_mtk_atci_sys_prop)
vendor_restricted_prop(vendor_mtk_besloudness_support_prop)
vendor_restricted_prop(vendor_mtk_bg_power_saving_support_prop)
vendor_restricted_prop(vendor_mtk_bg_power_saving_ui_prop)
vendor_restricted_prop(vendor_mtk_camera_prop)
vendor_restricted_prop(vendor_mtk_cam_security_prop)
vendor_restricted_prop(vendor_mtk_cdma_prop)
vendor_restricted_prop(vendor_mtk_cta_log_prop)
vendor_restricted_prop(vendor_mtk_cta_support_prop)
vendor_restricted_prop(vendor_mtk_boostfwk_log_prop)
vendor_restricted_prop(vendor_mtk_boostfwk_scrollidentify_prop)
vendor_restricted_prop(vendor_mtk_boostfwk_display60_prop)
vendor_restricted_prop(vendor_mtk_boostfwk_frameidentify_prop)
vendor_restricted_prop(vendor_mtk_boostfwk_prop)
vendor_restricted_prop(vendor_mtk_datashaping_prop)
vendor_restricted_prop(vendor_mtk_default_write_disk_prop)
vendor_restricted_prop(vendor_mtk_dmc_prop)
vendor_restricted_prop(vendor_mtk_drm_fwd_lock_only_prop)
vendor_restricted_prop(vendor_mtk_duraspeed_prop)
vendor_restricted_prop(vendor_mtk_dx_hdcp_support_prop)
vendor_restricted_prop(vendor_mtk_dynims_prop)
vendor_restricted_prop(vendor_mtk_emcamera_prop)
vendor_restricted_prop(vendor_mtk_extsim_prop)
vendor_restricted_prop(vendor_mtk_fd_support_prop)
vendor_restricted_prop(vendor_mtk_gallery_prop)
vendor_restricted_prop(vendor_mtk_hifiaudio_support_prop)
vendor_restricted_prop(vendor_mtk_ims_eims_pdn_prop)
vendor_restricted_prop(vendor_mtk_ims_prop)
vendor_restricted_prop(vendor_mtk_jpeg_opt_prop)
vendor_restricted_prop(vendor_mtk_libudf_prop)
vendor_restricted_prop(vendor_mtk_logmuch_prop)
vendor_restricted_prop(vendor_mtk_log_tel_dbg_prop)
vendor_restricted_prop(vendor_mtk_mdm_prop)
vendor_restricted_prop(vendor_mtk_mdworldmode_prop)
vendor_restricted_prop(vendor_mtk_media_prop)
vendor_restricted_prop(vendor_mtk_microtrust_tee_prop)
vendor_restricted_prop(vendor_mtk_mims_prop)
vendor_restricted_prop(vendor_mtk_miravision_support_prop)
vendor_restricted_prop(vendor_mtk_mobile_management_prop)
vendor_restricted_prop(vendor_mtk_moms_prop)
vendor_restricted_prop(vendor_mtk_netdagent_prop)
vendor_restricted_prop(vendor_mtk_network_prop)
vendor_restricted_prop(vendor_mtk_nfc_addon_support_prop)
vendor_restricted_prop(vendor_mtk_nfc_uicc_clf_prop)
vendor_restricted_prop(vendor_mtk_nfc_nfcstackp_enable_prop)
vendor_restricted_prop(vendor_mtk_nn_quant_preferred_prop)
vendor_restricted_prop(vendor_mtk_num_md_protocol_prop)
vendor_restricted_prop(vendor_mtk_nxp_nfc_gsma_support_prop)
vendor_restricted_prop(vendor_mtk_omacp_support_prop)
vendor_restricted_prop(vendor_mtk_oma_drm_support_prop)
vendor_restricted_prop(vendor_mtk_operator_prop)
vendor_restricted_prop(vendor_mtk_persist_epdg_prop)
vendor_restricted_prop(vendor_mtk_pms_prop)
vendor_restricted_prop(vendor_mtk_pppd_gprs_prop)
vendor_restricted_prop(vendor_mtk_printk_prop)
vendor_restricted_prop(vendor_mtk_provision_prop)
vendor_restricted_prop(vendor_mtk_radio_seapi_off_prop)
vendor_restricted_prop(vendor_mtk_rcs_ua_support_prop)
vendor_restricted_prop(vendor_mtk_rsc_prop)
vendor_restricted_prop(vendor_mtk_secure_venc_prop)
vendor_restricted_prop(vendor_mtk_service_rcs_prop)
vendor_restricted_prop(vendor_mtk_soter_teei_prop)
vendor_restricted_prop(vendor_mtk_st_nfc_gsma_support_prop)
vendor_restricted_prop(vendor_mtk_st_nfc_ignore_modem_prop)
vendor_restricted_prop(vendor_mtk_telephony_addon_prop)
vendor_restricted_prop(vendor_mtk_trustkernel_tee_prop)
vendor_restricted_prop(vendor_mtk_trustonic_tee_prop)
vendor_restricted_prop(vendor_mtk_vendor_vt_prop)
vendor_restricted_prop(vendor_mtk_vilte_prop)
vendor_restricted_prop(vendor_mtk_vilte_support_prop)
vendor_restricted_prop(vendor_mtk_vinr_prop)
vendor_restricted_prop(vendor_mtk_viwifi_prop)
vendor_restricted_prop(vendor_mtk_viwifi_support_prop)
vendor_restricted_prop(vendor_mtk_volte_support_prop)
vendor_restricted_prop(vendor_mtk_vonr_support_prop)
vendor_restricted_prop(vendor_mtk_vonr_prop)
vendor_restricted_prop(vendor_mtk_vsim_prop)
vendor_restricted_prop(vendor_mtk_vt_prop)
vendor_restricted_prop(vendor_mtk_wapi_support_prop)
vendor_restricted_prop(vendor_mtk_wappush_prop)
vendor_restricted_prop(vendor_mtk_wfc_prop)
vendor_restricted_prop(vendor_mtk_wfc_support_prop)
vendor_restricted_prop(vendor_mtk_wfd_support_prop)
vendor_restricted_prop(vendor_mtk_em_dy_debug_ctrl_prop)
vendor_restricted_prop(vendor_mtk_hvolte_indicator)
vendor_restricted_prop(vendor_mtk_md_c2k_cap_dep_check_prop)
vendor_restricted_prop(vendor_mtk_gwsd_capability_prop)
vendor_restricted_prop(vendor_mtk_netdagent_gameserver_prop)
vendor_restricted_prop(vendor_mtk_apuware_debug_prop)
vendor_restricted_prop(vendor_mtk_nwk_opt_prop)
vendor_restricted_prop(vendor_mtk_wfd_enable_prop)
vendor_restricted_prop(vendor_mtk_vonr_force_prop)
vendor_restricted_prop(vendor_mtk_em_mtu_prop)
vendor_restricted_prop(vendor_mtk_fast_charging_support_prop)
vendor_restricted_prop(vendor_mtk_call_drop_prop)
vendor_restricted_prop(vendor_mtk_mcf_prop)
vendor_restricted_prop(vendor_mtk_subsidy_lock_support_prop)
vendor_restricted_prop(vendor_mtk_gwsd_prop)

# Properties with no restriction
vendor_public_prop(vendor_mtk_sec_video_path_support_prop)
vendor_public_prop(vendor_mtk_svp_on_mtee_support_prop)

# Properties with can be read by all domains
typeattribute vendor_mtk_active_noise_cancel_prop     mtk_core_property_type;
typeattribute vendor_mtk_besloudness_support_prop     mtk_core_property_type;
typeattribute vendor_mtk_bg_power_saving_support_prop mtk_core_property_type;
typeattribute vendor_mtk_bg_power_saving_ui_prop      mtk_core_property_type;
typeattribute vendor_mtk_camera_prop                  mtk_core_property_type;
typeattribute vendor_mtk_cam_security_prop            mtk_core_property_type;
typeattribute vendor_mtk_cdma_prop                    mtk_core_property_type;
typeattribute vendor_mtk_cta_log_prop                 mtk_core_property_type;
typeattribute vendor_mtk_cta_support_prop             mtk_core_property_type;
typeattribute vendor_mtk_boostfwk_log_prop            mtk_core_property_type;
typeattribute vendor_mtk_boostfwk_scrollidentify_prop mtk_core_property_type;
typeattribute vendor_mtk_boostfwk_display60_prop      mtk_core_property_type;
typeattribute vendor_mtk_boostfwk_frameidentify_prop  mtk_core_property_type;
typeattribute vendor_mtk_boostfwk_prop                mtk_core_property_type;
typeattribute vendor_mtk_datashaping_prop             mtk_core_property_type;
typeattribute vendor_mtk_default_write_disk_prop      mtk_core_property_type;
typeattribute vendor_mtk_drm_fwd_lock_only_prop       mtk_core_property_type;
typeattribute vendor_mtk_duraspeed_prop               mtk_core_property_type;
typeattribute vendor_mtk_dx_hdcp_support_prop         mtk_core_property_type;
typeattribute vendor_mtk_dynims_prop                  mtk_core_property_type;
typeattribute vendor_mtk_emcamera_prop                mtk_core_property_type;
typeattribute vendor_mtk_extsim_prop                  mtk_core_property_type;
typeattribute vendor_mtk_fd_support_prop              mtk_core_property_type;
typeattribute vendor_mtk_gallery_prop                 mtk_core_property_type;
typeattribute vendor_mtk_hifiaudio_support_prop       mtk_core_property_type;
typeattribute vendor_mtk_ims_eims_pdn_prop            mtk_core_property_type;
typeattribute vendor_mtk_ims_prop                     mtk_core_property_type;
typeattribute vendor_mtk_jpeg_opt_prop                mtk_core_property_type;
typeattribute vendor_mtk_libudf_prop                  mtk_core_property_type;
typeattribute vendor_mtk_logmuch_prop                 mtk_core_property_type;
typeattribute vendor_mtk_log_tel_dbg_prop             mtk_core_property_type;
typeattribute vendor_mtk_mdm_prop                     mtk_core_property_type;
typeattribute vendor_mtk_mdworldmode_prop             mtk_core_property_type;
typeattribute vendor_mtk_media_prop                   mtk_core_property_type;
typeattribute vendor_mtk_microtrust_tee_prop          mtk_core_property_type;
typeattribute vendor_mtk_mims_prop                    mtk_core_property_type;
typeattribute vendor_mtk_miravision_support_prop      mtk_core_property_type;
typeattribute vendor_mtk_mobile_management_prop       mtk_core_property_type;
typeattribute vendor_mtk_moms_prop                    mtk_core_property_type;
typeattribute vendor_mtk_netdagent_prop               mtk_core_property_type;
typeattribute vendor_mtk_network_prop                 mtk_core_property_type;
typeattribute vendor_mtk_nfc_addon_support_prop       mtk_core_property_type;
typeattribute vendor_mtk_nfc_uicc_clf_prop            mtk_core_property_type;
typeattribute vendor_mtk_nn_quant_preferred_prop      mtk_core_property_type;
typeattribute vendor_mtk_num_md_protocol_prop         mtk_core_property_type;
typeattribute vendor_mtk_nxp_nfc_gsma_support_prop    mtk_core_property_type;
typeattribute vendor_mtk_omacp_support_prop           mtk_core_property_type;
typeattribute vendor_mtk_oma_drm_support_prop         mtk_core_property_type;
typeattribute vendor_mtk_operator_prop                mtk_core_property_type;
typeattribute vendor_mtk_persist_epdg_prop            mtk_core_property_type;
typeattribute vendor_mtk_pms_prop                     mtk_core_property_type;
typeattribute vendor_mtk_pppd_gprs_prop               mtk_core_property_type;
typeattribute vendor_mtk_printk_prop                  mtk_core_property_type;
typeattribute vendor_mtk_provision_prop               mtk_core_property_type;
typeattribute vendor_mtk_radio_seapi_off_prop         mtk_core_property_type;
typeattribute vendor_mtk_rcs_ua_support_prop          mtk_core_property_type;
typeattribute vendor_mtk_rsc_prop                     mtk_core_property_type;
typeattribute vendor_mtk_secure_venc_prop             mtk_core_property_type;
typeattribute vendor_mtk_service_rcs_prop             mtk_core_property_type;
typeattribute vendor_mtk_soter_teei_prop              mtk_core_property_type;
typeattribute vendor_mtk_st_nfc_gsma_support_prop     mtk_core_property_type;
typeattribute vendor_mtk_st_nfc_ignore_modem_prop     mtk_core_property_type;
typeattribute vendor_mtk_telephony_addon_prop         mtk_core_property_type;
typeattribute vendor_mtk_trustkernel_tee_prop         mtk_core_property_type;
typeattribute vendor_mtk_trustonic_tee_prop           mtk_core_property_type;
typeattribute vendor_mtk_vendor_vt_prop               mtk_core_property_type;
typeattribute vendor_mtk_vilte_prop                   mtk_core_property_type;
typeattribute vendor_mtk_vilte_support_prop           mtk_core_property_type;
typeattribute vendor_mtk_vinr_prop                    mtk_core_property_type;
typeattribute vendor_mtk_viwifi_prop                  mtk_core_property_type;
typeattribute vendor_mtk_viwifi_support_prop          mtk_core_property_type;
typeattribute vendor_mtk_volte_support_prop           mtk_core_property_type;
typeattribute vendor_mtk_vonr_support_prop            mtk_core_property_type;
typeattribute vendor_mtk_vonr_prop                    mtk_core_property_type;
typeattribute vendor_mtk_vsim_prop                    mtk_core_property_type;
typeattribute vendor_mtk_vt_prop                      mtk_core_property_type;
typeattribute vendor_mtk_wapi_support_prop            mtk_core_property_type;
typeattribute vendor_mtk_wappush_prop                 mtk_core_property_type;
typeattribute vendor_mtk_wfc_prop                     mtk_core_property_type;
typeattribute vendor_mtk_wfc_support_prop             mtk_core_property_type;
typeattribute vendor_mtk_wfd_support_prop             mtk_core_property_type;
typeattribute vendor_mtk_em_dy_debug_ctrl_prop        mtk_core_property_type;
typeattribute vendor_mtk_hvolte_indicator             mtk_core_property_type;
typeattribute vendor_mtk_md_c2k_cap_dep_check_prop    mtk_core_property_type;
typeattribute vendor_mtk_gwsd_capability_prop         mtk_core_property_type;
typeattribute vendor_mtk_netdagent_gameserver_prop    mtk_core_property_type;
typeattribute vendor_mtk_apuware_debug_prop           mtk_core_property_type;
typeattribute vendor_mtk_nwk_opt_prop                 mtk_core_property_type;
typeattribute vendor_mtk_wfd_enable_prop              mtk_core_property_type;
typeattribute vendor_mtk_vonr_force_prop              mtk_core_property_type;
typeattribute vendor_mtk_em_mtu_prop                  mtk_core_property_type;
typeattribute vendor_mtk_fast_charging_support_prop    mtk_core_property_type;
typeattribute vendor_mtk_sec_video_path_support_prop    mtk_core_property_type;
typeattribute vendor_mtk_subsidy_lock_support_prop    mtk_core_property_type;
typeattribute vendor_mtk_gwsd_prop                    mtk_core_property_type;
