# This is for common part
type some_party_app, domain, coredomain;
app_domain(some_party_app)
net_domain(some_party_app)

allow some_party_app app_data_file:file rx_file_perms;

# Allow handling of less common filesystem objects
allow some_party_app app_data_file:{
  lnk_file
  sock_file
  fifo_file
} create_file_perms;

allow some_party_app mnt_sdcard_file:lnk_file create_file_perms;

# Read and write system app data files passed over Binder.
# Motivating case was /data/data/com.android.settings/cache/* for
# cropping or taking user photos.
allow some_party_app system_app_data_file:file rx_file_perms;

# Allow 3rd party app to find system services
allow some_party_app {
  app_api_service
  audioserver_service
  cameraserver_service
  drmserver_service
  mediaextractor_service
  mediametrics_service
  mediaserver_service
  nfc_service
  surfaceflinger_service
}:service_manager find;

# Allow read vendor display prop
get_prop(some_party_app, render_prop)
