# ==============================================
# Policy File of /vendor/bin/STFlashTool Executable File

# ==============================================
# Common SEPolicy Rule
# ==============================================
type stflashtool_exec, exec_type, file_type, vendor_file_type;

# Date : WK1652
# Operation : Migration
# Purpose : Start STFlashTool to upgrade the FW for ST NFC Solution
init_daemon_domain(stflashtool)

allow stflashtool st21nfc_device:chr_file rw_file_perms;
