# ==============================================
# MICROTRUST SEPolicy Rule
# ==============================================
type teei_hal_ifaa_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(teei_hal_ifaa)
hal_server_domain(teei_hal_ifaa, hal_teei_ifaa)

hal_client_domain(teei_hal_ifaa, hal_teei_capi)
hal_client_domain(teei_hal_ifaa, hal_allocator)

allow teei_hal_ifaa teei_client_device:chr_file rw_file_perms;
