# ==============================================
# MTK Policy Rule
# ============

# Purpose: Microtrust teei_daemon service
allow tee self:capability sys_module;
allow tee teei_config_device:chr_file rw_file_perms;
allow tee teei_client_device:chr_file { create setattr unlink rw_file_perms };
allow tee teei_vfs_device:chr_file rw_file_perms;
allow tee teei_rpmb_device:chr_file rw_file_perms;
allow tee teei_data_file:dir create_dir_perms;
allow tee teei_data_file:file rw_file_perms;
allow tee teei_data_file:file create_file_perms;
allow tee self:capability dac_override;
allow tee device:dir rw_dir_perms;

allow tee teei_control_file:dir { search open read };
allow tee teei_control_file:file { open read write };
allow tee teei_control_file:lnk_file { open read write };

# allow teei_daemon access /persist section
allow tee mnt_vendor_file:dir { create write add_name search read open};
allow tee mnt_vendor_file:file { read write create open getattr };
allow tee persist_data_file:dir { create write add_name search read open};
allow tee persist_data_file:file { read write create open getattr };

# enable access android property
set_prop(tee, soter_teei_prop)

# for debug only
allow tee kmsg_device:chr_file {open write};

# define for mlsconstrain
typeattribute teei_client_device mlstrustedobject;

# allow tee read ut_keymaster data
allow tee ut_keymaster_device:chr_file rw_file_perms;

# allow load teei drm drivers
allow init teei_client_device:chr_file rw_file_perms;
allow kernel teei_client_device:chr_file rw_file_perms;
allow tee kernel:system module_request;

allow tee self:capability setuid;
allow tee self:capability sys_rawio;
allow tee block_device:dir search;
allow tee teei_rpmb_device:blk_file { read write ioctl open };
allow tee nvram_device:blk_file rw_file_perms;
allow tee nvram_device:blk_file { open read write getattr };
