allow untrusted_app_all tee_service:service_manager find;

# Purpose :allow untrusted_app to search debugfs_ion dir
allow untrusted_app_all debugfs_ion:dir search;

# Purpose :allow untrusted_app to search sysfs_mmcblk dir
allow untrusted_app_all sysfs_mmcblk:dir search;
get_prop(untrusted_app_all, mtk_nn_option_prop)
