# ==============================================
# Common SEPolicy Rule
# ==============================================

# untrusted_app_25 for TUI
allow untrusted_app_25 mobicore_vendor_file:dir search;

# Date: 2019/06/17
# Operation : Migration
# Purpose :allow untrusted_app_25 to access procs
allow untrusted_app_25 proc_uptime:file getattr;
allow untrusted_app_25 proc_version:file getattr;
allow untrusted_app_25 sysfs_net:dir search;
allow untrusted_app_25 proc_net:file r_file_perms;

# Date: 2020/06/29
# Operation : eMBMS Migration
# Purpose :allow EXPWAY middleware to access the socket
allow untrusted_app_25 radio:unix_stream_socket connectto;
