# ==============================================
# Common SEPolicy Rule
# ==============================================

# TODO:: Security Issue
# Date : W1452
# Operation : WVL1 Modular DRM IT
# Purpose : Allow svp client alloc sec mem
allow untrusted_app proc_secmem:file r_file_perms;

# TrustKernel add
userdebug_or_eng(`
	allow untrusted_app tkcore_admin_device:chr_file rw_file_perms;
')

# Date : 2016/7/22
# Operation: Migration
# Purpose : Move from tk sepolicy for ViLTE
allow untrusted_app vtservice:dir search;
allow untrusted_app mediaserver:dir search;

# Date: 2018/04/18
# Purpose: Allow untrusted_app to use HIDL and access mtk_hal_neuralnetworks
allow untrusted_app mtk_hal_neuralnetworks:binder { call transfer };
allow untrusted_app debugfs_ion:dir search;

# Date: 2020/06/29
# Operation : eMBMS Migration
# Purpose :allow EXPWAY middleware to access the socket
allow untrusted_app radio:unix_stream_socket connectto;
