# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date: 2019/06/17
# Operation : Migration
# Purpose :allow untrusted_app to search debugfs_ion dir
allow untrusted_app_all debugfs_ion:dir search;

# Date: 2019/06/17
# Operation : Migration
# Purpose :allow untrusted_app to search sysfs_mmcblk dir
allow untrusted_app_all sysfs_devices_block:dir search;
get_prop(untrusted_app_all, vendor_mtk_nn_option_prop)
