# ==============================================
# Common SEPolicy Rule
# ==============================================

allow usp_service para_block_device:blk_file rw_file_perms;
allow usp_service proc_lk_env:file rw_file_perms;
allow usp_service ccci_device:chr_file rw_file_perms;
get_prop(usp_service, vendor_mtk_cxp_vendor_prop)
