# ==============================================
# Common SEPolicy Rule
# ==============================================

set_prop(vendor_init, vendor_mtk_radio_prop)
set_prop(vendor_init, vendor_mtk_ims_prop)
set_prop(vendor_init, vendor_mtk_wfd_support_prop)
set_prop(vendor_init, vendor_mtk_atci_prop)
set_prop(vendor_init, vendor_mtk_mobile_management_prop)

allow vendor_init proc_hps:file w_file_perms;
allow vendor_init proc_cpufreq:file w_file_perms;

allow vendor_init proc_usb_plat:dir search;
allow vendor_init proc_usb_plat:file rw_file_perms;

set_prop(vendor_init, vendor_mtk_soter_teei_prop)
set_prop(vendor_init, vendor_mtk_trustkernel_tee_prop)
set_prop(vendor_init, vendor_mtk_dx_hdcp_support_prop)
set_prop(vendor_init, vendor_mtk_duraspeed_prop)
set_prop(vendor_init, vendor_mtk_dynims_prop)
set_prop(vendor_init, vendor_mtk_mims_prop)
set_prop(vendor_init, vendor_mtk_extsim_prop)
set_prop(vendor_init, vendor_mtk_volte_support_prop)
set_prop(vendor_init, vendor_mtk_vonr_support_prop)
set_prop(vendor_init, vendor_mtk_wfc_support_prop)
set_prop(vendor_init, vendor_mtk_vilte_support_prop)
set_prop(vendor_init, vendor_mtk_viwifi_support_prop)
set_prop(vendor_init, vendor_mtk_rcs_ua_support_prop)
set_prop(vendor_init, vendor_mtk_mdm_prop)
set_prop(vendor_init, vendor_mtk_mcf_prop)
set_prop(vendor_init, vendor_mtk_mdworldmode_prop)
set_prop(vendor_init, vendor_mtk_oma_drm_support_prop)
set_prop(vendor_init, vendor_mtk_miravision_support_prop)
set_prop(vendor_init, vendor_mtk_default_write_disk_prop)
set_prop(vendor_init, vendor_mtk_bg_power_saving_support_prop)
set_prop(vendor_init, vendor_mtk_bg_power_saving_ui_prop)
set_prop(vendor_init, vendor_mtk_besloudness_support_prop)
set_prop(vendor_init, vendor_mtk_hifiaudio_support_prop)
set_prop(vendor_init, vendor_mtk_active_noise_cancel_prop)
set_prop(vendor_init, vendor_mtk_wapi_support_prop)
set_prop(vendor_init, vendor_mtk_fd_support_prop)
set_prop(vendor_init, vendor_mtk_st_nfc_gsma_support_prop)
set_prop(vendor_init, vendor_mtk_st_nfc_ignore_modem_prop)
set_prop(vendor_init, vendor_mtk_nfc_addon_support_prop)
set_prop(vendor_init, vendor_mtk_nfc_uicc_clf_prop)
set_prop(vendor_init, vendor_mtk_radio_seapi_off_prop)
set_prop(vendor_init, vendor_mtk_nxp_nfc_gsma_support_prop)
set_prop(vendor_init, vendor_mtk_num_md_protocol_prop)
set_prop(vendor_init, vendor_mtk_wappush_prop)
set_prop(vendor_init, vendor_mtk_operator_prop)
set_prop(vendor_init, vendor_mtk_omacp_support_prop)
set_prop(vendor_init, vendor_mtk_log_tel_dbg_prop)
set_prop(vendor_init, vendor_mtk_camera_prop)
set_prop(vendor_init, vendor_mtk_gallery_prop)
set_prop(vendor_init, vendor_mtk_media_prop)
set_prop(vendor_init, vendor_mtk_rsc_prop)
set_prop(vendor_init, vendor_mtk_pms_prop)
set_prop(vendor_init, vendor_mtk_logmuch_prop)
set_prop(vendor_init, vendor_mtk_dsbp_support_prop)
set_prop(vendor_init, vendor_mtk_datashaping_prop)
set_prop(vendor_init, vendor_mtk_nn_quant_preferred_prop)
set_prop(vendor_init, vendor_mtk_cam_security_prop)
set_prop(vendor_init, vendor_mtk_dmc_prop)
set_prop(vendor_init, vendor_mtk_cta_support_prop)
set_prop(vendor_init, system_mtk_heavy_loading_prop)
set_prop(vendor_init, vendor_mtk_jpeg_opt_prop)
set_prop(vendor_init, vendor_mtk_trustonic_tee_prop)
set_prop(vendor_init, vendor_mtk_microtrust_tee_prop)
set_prop(vendor_init, vendor_mtk_md_c2k_cap_dep_check_prop)
set_prop(vendor_init, vendor_mtk_gwsd_capability_prop)
set_prop(vendor_init, vendor_mtk_fast_charging_support_prop)
set_prop(vendor_init, vendor_mtk_call_drop_prop)
set_prop(vendor_init, vendor_mtk_sec_video_path_support_prop)
set_prop(vendor_init, vendor_mtk_svp_on_mtee_support_prop)
set_prop(vendor_init, vendor_mtk_subsidy_lock_support_prop)
