# ==============================================
# Common SEPolicy Rule
# ==============================================

# MICROTRUST SEPolicy Rule
# Date : 2016/06/01
# Operation: TEEI integration
# Purpose: Microtrust HW-backed Keymaster
allow vold ut_keymaster_device:chr_file rw_file_perms;
allow vold teei_client_device:chr_file rw_file_perms;

# Purpose : write bootprof
allow vold proc_bootprof:file w_file_perms;
