# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : WK19.43
# Operation : SQC
# Purpose : for untrusted app to use ptrace (e.g. 360Mobile, taobao, com.duowan.kiwi)
dontaudit zygote untrusted_app_all:process ptrace;

# Date : WK14.43
# Operation : SQC2
# Purpose : found in FST Auto Test (ALPS01774709)
allow zygote platform_app:fd use;

# Date : WK14.46
# Operation : SQC
# Purpose : found in sanity test (ALPS01825280)
allow zygote servicemanager:binder call;

# Date : WK14.49
# Operation : SQC
# Purpose : for isolated_app to use fd (ex: share image by gmail)
allow zygote isolated_app:fd use;

# Date : WK15.02
# Operation : SQC
# Purpose : for "theScore Sports & Scores" app to play video(ALPS01897019)
allow zygote untrusted_app:fd use;

# Date : WK15.08
# Operation : SQC
# Purpose : for TTLIA
allow zygote radio:fd use;
