# ==============================================
# MTK Policy Rule
# ============

#permissive adbd;

# Data : WK17.46
# Operator: Migration
# Purpose: Allow adbd to read KE DB
allow adbd aee_dumpsys_data_file:file r_file_perms;
allow adbd aee_exp_data_file:dir r_dir_perms;
allow adbd aee_exp_data_file:file r_file_perms;
allow adbd gpu_device:dir search;
