# ==============================================
# Policy File of /system/bin/audiocmdservice_atci Executable File

# Access to storages for audio tuning tool to read/write tuning result
allow audiocmdservice_atci { block_device device }:dir { write search };
allow audiocmdservice_atci mnt_user_file:dir rw_dir_perms;
allow audiocmdservice_atci { mnt_user_file storage_file }:lnk_file rw_file_perms;
allow audiocmdservice_atci bootdevice_block_device:blk_file { read write };

allow audiocmdservice_atci hal_audio_hwservice:hwservice_manager find;
binder_call(audiocmdservice_atci,mtk_hal_audio);
