# ==============================================
# MTK Policy Rule
# ==============================================

# Date:W17.07
# Operation : bt hal developing
# Purpose : bt hal interface permission
binder_call(bluetooth, mtk_hal_bluetooth)

allow bluetooth storage_stub_file:dir getattr;

# Date: 2018/01/17
#allow bluetooth to set property
set_prop(bluetooth, vendor_bluetooth_prop)
set_prop(bluetooth, debug_prop)

# Date: 2018/02/02
# Major permission allow are in /system/sepoplicy/private/bluetooth.te
# Add dir create perms for bluetooth on /data/misc/bluetooth/logs
allow bluetooth bluetooth_logs_data_file:dir { create_dir_perms relabelto };
allow bluetooth bluetooth_logs_data_file:fifo_file { create_file_perms };

# Date: 2019/06/14
# Operation : Migration
get_prop(bluetooth, mtk_amslog_prop)
