# Date: WK1812
# Purpose: add for sensor calibration
allow em_svr als_ps_device:chr_file { read open ioctl };
allow em_svr gsensor_device:chr_file { read open ioctl };

# Date: WK1812
# Purpose: add for MD log filter
allow em_svr md_block_device:blk_file { read open };

# Date: WK1812
# Purpose: add for SIB capture
allow em_svr para_block_device:blk_file { read open };
allow em_svr proc_lk_env:file { read write ioctl open };

# Date: WK1812
# Purpose: add for MSDC get/set
allow em_svr misc_sd_device:chr_file { read open ioctl };

# Date: WK1812
# Purpose: add for battery log
allow em_svr proc_battery_cmd:dir { search };
allow em_svr proc_battery_cmd:file { create write open };

# Date: WK1812
# Purpose: add for light/proximity sensor
#allow em_svr nvdata_file:dir { write open search read add_name };
#allow em_svr nvdata_file:file { getattr read write create open setattr };
allow em_svr nvram_device:blk_file { open read write };

# Date: WK1812
# Purpose: add for Gyroscope sensor
allow em_svr gyroscope_device:chr_file { read ioctl open };

# Date : 2018/05/03
# Purpose: allow EM to control battery
allow em_svr battery_node:dir search;
allow em_svr battery_node:file { write open };
