type mtk_hal_usb, domain;
hal_server_domain(mtk_hal_usb, hal_usb)

type mtk_hal_usb_exec, exec_type, file_type, vendor_file_type;
init_daemon_domain(mtk_hal_usb)

allow hal_usb_default sysfs_dual_role_usb20:dir {search read};
allow hal_usb_default sysfs_dual_role_usb20:file {open read getattr};

allow mtk_hal_usb sysfs_dual_role_usb20:dir {search read};
allow mtk_hal_usb sysfs_dual_role_usb20:file {open read getattr};
