allow hal_keymaster_default ut_keymaster_device:chr_file { read write open ioctl};

allow hal_keymaster_default teei_client_device:chr_file { read write open ioctl};
