# ==============================================================================
# Type Declaration
# ==============================================================================
type mtk_hal_power, domain;
type mtk_hal_power_exec, exec_type, file_type, vendor_file_type;

# hwbinder access
init_daemon_domain(mtk_hal_power)
hwbinder_use(mtk_hal_power);

get_prop(mtk_hal_power, hwservicemanager_prop)
allow mtk_hal_power hal_power_hwservice:hwservice_manager { add find };
allow mtk_hal_power hidl_base_hwservice:hwservice_manager add;

add_hwservice(mtk_hal_power, mtk_hal_power_hwservice)
allow hal_power_client mtk_hal_power_hwservice:hwservice_manager find;


hal_server_domain(mtk_hal_power, hal_power);
hal_server_domain(mtk_hal_power, hal_wifi);

# proc fs
allow mtk_hal_power proc:dir r_dir_perms;
allow mtk_hal_power proc:file rw_file_perms;

# sysfs
allow mtk_hal_power sysfs_devices_system_cpu:file rw_file_perms;

# debugfs
allow mtk_hal_power debugfs_ged:dir r_dir_perms;
allow mtk_hal_power debugfs_ged:file rw_file_perms;

# proc_thermal
allow mtk_hal_power proc_thermal:file w_file_perms;

# proc info
allow mtk_hal_power mtk_hal_audio:dir r_dir_perms;

# Date : 2017/10/02
# Operation: SQC
# Purpose : Allow powerHAL to access perfmgr
allow mtk_hal_power proc_perfmgr:dir r_dir_perms;
allow mtk_hal_power proc_perfmgr:file rw_file_perms;
allowxperm mtk_hal_power proc_perfmgr:file ioctl PERFMGR_FPSGO_TOUCH;

# Date : 2017/10/11
# Operation: SQC
# Purpose : Allow powerHAL to access powerhal folder
allow mtk_hal_power sdcard_type:dir create_dir_perms;
allow mtk_hal_power sdcard_type:file create_file_perms;
allow mtk_hal_power eemcs_device:chr_file rw_file_perms;
allow mtk_hal_power mnt_user_file:dir create_dir_perms;

allow mtk_hal_power mtk_powerhal_data_file:dir {create_dir_perms rw_dir_perms};
allow mtk_hal_power mtk_powerhal_data_file:file {create_file_perms rw_file_perms};
allow mtk_hal_power mtk_powerhal_data_file:sock_file {create_file_perms rw_file_perms};

#camera contorl cpu
allow mtk_hal_power mtk_hal_camera:dir r_dir_perms;
allow mtk_hal_power mtk_hal_camera:file r_file_perms;

# Date : 2017/10/24
# Operation: SQC
# Purpose : Allow powerHAL to access thermal
allow mtk_hal_power proc_thermal:dir r_dir_perms;
allow mtk_hal_power sysfs:file rw_file_perms;
allow mtk_hal_power debugfs_fpsgo:dir r_dir_perms;
allow mtk_hal_power debugfs_fpsgo:file rw_file_perms;

# Date : 2017/12/19
# Operation: SQC
# Purpose : Allow powerHAL to access wlan
allow mtk_hal_power proc_net:file w_file_perms;

# Date : 2017/12/21
# Operation: SQC
# Purpose : Allow powerHAL to access mediacodec
allow mtk_hal_power mediacodec:dir r_dir_perms;
allow mtk_hal_power mediacodec:file r_file_perms;

set_prop(mtk_hal_power, mtk_thermal_config_prop)

# Date : 2018/03/16
# Operation: SQC
# Purpose : Allow powerHAL to access /d/mtkfb
allow mtk_hal_power debugfs_fb:dir r_dir_perms;
allow mtk_hal_power debugfs_fb:file rw_file_perms;

# Date : 2018/06/26
# Operation: Thermal change policy in perfservice

allow mtk_hal_power proc_thermal:file r_file_perms;
allow mtk_hal_power thermal_manager_data_file:file create_file_perms;
allow mtk_hal_power thermalloadalgod:unix_stream_socket connectto;

allow mtk_hal_power proc_mtkcooler:dir r_dir_perms;
allow mtk_hal_power proc_mtkcooler:file rw_file_perms;
allow mtk_hal_power proc_mtktz:dir r_dir_perms;
allow mtk_hal_power proc_mtktz:file rw_file_perms;

# Date : 2019/05/08
# Operation: SQC
# Purpose : Allow powerHAL to access /proc/[pid]
allow mtk_hal_power system_server:dir r_dir_perms;
allow mtk_hal_power system_server:file r_file_perms;

# Date : 2019/05/22
# Operation: SQC
# Purpose : Allow powerHAL to access prop
set_prop(mtk_hal_power, mtk_powerhal_prop)

# Date : 2019/05/29
# Operation: SQC
# Purpose : Allow powerHAL to access wifi driver
allow mtk_hal_power self:udp_socket create;
allow mtk_hal_power kernel:system module_request;
allow mtk_hal_power self:capability sys_module;
allowxperm mtk_hal_power self:udp_socket ioctl priv_sock_ioctls;
