# ==============================================
# MTK Policy Rule
# ==============================================

# TODO:: Security Issue.

# Date: 2016/02/26
# Operation: Migration
# Purpose: Allow MTK modified ElephantStress and WhatsTemp to read thermal zone temperatures
#					 from MTK kernel modules for thermal tests at OEM/ODM.
allow untrusted_app proc_mtktz:dir search;
allow untrusted_app proc_mtktz:file r_file_perms;

# Neural network
allow untrusted_app mtk_hal_neuralnetworks:binder { call transfer };
