# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK18.20
# Operation : Migration
# Purpose : no permission for vendor_default_prop
get_prop(vold_prepare_subdirs, vendor_default_prop)
