# ==============================================
# Policy File of /system/bin/atci_service_sys Executable File
# ==============================================

# ==============================================
# Type Declaration
# ==============================================

type atci_service_sys, domain;
