# ==============================================
# Policy File of /system/bin/boot_logo_updater Executable File

# ==============================================
# Type Declaration
# ==============================================
type boot_logo_updater, domain;
