# ==============================================
# Policy File of /system/bin/camerapostalgo Executable File

# ==============================================
# Type Declaration
# ==============================================

type camerapostalgo, domain;
