# ==============================================
# Policy File of /system/priv-app/CapabilityTest/CapabilityTest.apk Executable File

# ==============================================
# Type Declaration
# ==============================================

type capability_app, domain, coredomain;
