# ==============================================
# Policy File of /system/priv-app/EngineerMode/EngineerMode.apk Executable File

# ==============================================
# Type Declaration
# ==============================================

type em_app, domain, coredomain;
