# ==============================================
# Policy File of /system/bin/GoogleOtaBinder Executable File

# ==============================================
# Type Declaration
# ==============================================

type GoogleOtaBinder, domain;
