# ==============================================
# Common SEPolicy Rule
# ==============================================

type mdi_redirector, domain;
