# ==============================================
# Common SEPolicy Rule
# ==============================================

type mdmi_redirector, domain;
