# ==============================================
# Policy File of /system/bin/mtkbootanimation Executable File

# ==============================================
# Type Declaration
# ==============================================
type mtkbootanimation, domain;
