# ==============================================
# Common SEPolicy Rule
# ==============================================

#Suppress the denial for netd to use surfaceflinger
dontaudit netd surfaceflinger:fd use;
