# ==============================================
# Common SEPolicy Rule
# ==============================================

type teeregistryd_app, domain;
