# ==============================================
# Policy File of /system/bin/atci_service_sys Executable File
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================
type atci_service_sys, domain;
