typeattribute connsyslogger coredomain;
type connsyslogger_exec, system_file_type, exec_type, file_type;
init_daemon_domain(connsyslogger)

# access data/debuglog
allow connsyslogger debuglog_data_file:dir {relabelto create_dir_perms};
allow connsyslogger debuglog_data_file:file create_file_perms;
