# ==============================================
# Common SEPolicy Rule
# ==============================================

# insmod LKM under /odm or /vendor
allow init self:capability sys_module;
allow init system_file:system module_load;

# boot process denial clean up
allow init debugfs_tracing:dir w_dir_perms;
allow init debugfs_tracing:file w_file_perms;
allow init sysfs_devices_system_cpu:file relabelfrom;

domain_auto_trans(init, mtk_plpath_utils_exec, update_engine)

#allow write for mobile_log_d.rc
allow init proc_dynamic_debug_control:file w_file_perms;
