type lbs_dbg, domain;

file_type_auto_trans(lbs_dbg, system_data_file, lbs_dbg_data_file);
type lbs_dbg_exec, system_file_type, exec_type, file_type;
typeattribute lbs_dbg coredomain;

init_daemon_domain(lbs_dbg)

#============= lbs_dbg ==============
allow lbs_dbg storage_file:dir { write create add_name search mounton };
allow lbs_dbg storage_file:lnk_file read;
allow lbs_dbg lbs_dbg_data_file:file create_file_perms;

allow lbs_dbg system_data_file:lnk_file read;

allow lbs_dbg media_rw_data_file:dir search;
allow lbs_dbg media_rw_data_file:dir { read open };

allow lbs_dbg sdcard_type:filesystem unmount;
allow lbs_dbg tmpfs:filesystem unmount;
allow lbs_dbg sysfs:dir { read open };
allow lbs_dbg sysfs_leds:dir search;
allow lbs_dbg sysfs_leds:lnk_file read;
allow lbs_dbg sysfs_vibrator:file {open read write};

allow lbs_dbg sdcard_type:dir r_dir_perms;
allow lbs_dbg self:netlink_route_socket { bind create getattr write nlmsg_read read nlmsg_write };

allow lbs_dbg self:tcp_socket create_stream_socket_perms;
allow lbs_dbg self:udp_socket create_socket_perms;

allow lbs_dbg hwservicemanager_prop:file read;
hal_client_domain(lbs_dbg, mtk_hal_lbs)

allow lbs_dbg media_rw_data_file:dir { write remove_name };
allow lbs_dbg media_rw_data_file:file getattr;
allow lbs_dbg sdcardfs:dir { write remove_name create add_name };
allow lbs_dbg sdcardfs:file { rename getattr };
allow lbs_dbg media_rw_data_file:dir { create add_name };
allow lbs_dbg media_rw_data_file:file { write rename create open };
allow lbs_dbg sdcardfs:file { write create open };
allow lbs_dbg media_rw_data_file:file unlink;
allow lbs_dbg sdcardfs:file unlink;

allow lbs_dbg vfat:dir { write remove_name create add_name };
allow lbs_dbg vfat:file { write rename create open getattr unlink };
