# ==============================================
# Type Declaration
# ==============================================
type mtk_plpath_utils_exec, system_file_type, exec_type, file_type;
