allow platform_app system_app_service:service_manager find;
allow platform_app init:unix_stream_socket connectto;

# Purpose: Allow to use selinux for hal_power
hal_client_domain(platform_app, hal_power)

# Purpose : DebugLoggerUI access data/debuglogger/ folder
# Package: com.debug.loggerui
allow platform_app debuglog_data_file:dir create_dir_perms;
allow platform_app debuglog_data_file:file create_file_perms;
