# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : WK14.53
# Operation : check in
# Purpose: for warning kernel API
allow ppp mtp:file r_file_perms;
