# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date: 2019/06/14
# Operation : Migration
get_prop(shared_relro, system_mtk_amslog_prop)
