# ==============================================
# Common SEPolicy Rule
# ==============================================

# Data : WK14.42
# Operation : Migration
# Purpose : Video playback
set_prop(surfaceflinger, debug_prop)

# Date : WK18.36
# Operation : Debug
# Purpose: Allow to dump buffer queue
get_prop(surfaceflinger, system_mtk_debug_bq_dump_prop)

# Date : WK21.32
# Operation : Debug
# Purpose: Allow to open debug log
set_prop(surfaceflinger, system_mtk_sf_debug_prop)
