# ==============================================
# Common SEPolicy Rule
# ==============================================

allow uncrypt uncrypt:capability fowner;
