# ==============================================
# Policy File of /system/bin/atci_service_sys Executable File
# ==============================================

# ==============================================
# Common SEPolicy Rule
# ==============================================

type atci_service_sys_exec, system_file_type, exec_type, file_type;
typeattribute atci_service_sys coredomain;

init_daemon_domain(atci_service_sys)
