# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : W17.47
# Allow system_server to enable/disable logmuch_prop for Wi-Fi logging purpose
neverallow {
  coredomain
  -init
  -logd
  -cameraserver
  -system_server
  -em_app
  -platform_app
  } system_mtk_logmuch_prop:property_service set;
