# ==============================================
# Common SEPolicy Rule
# ==============================================

# Add by : Jackie
# Date : WK15.34
# Operation : Migration
# Purpose : Allow drmserver to access some system_server opreration on M
#           and allow drmserver access file stored in sdcard
allow drmserver nvram_agent_service:service_manager find;

# Date : WK19.24
# To let DRM server load ctaplugin based on property
get_prop(drmserver, system_mtk_cta_set_prop)
allow drmserver mediaprovider_app:dir search;
