# Purpose: Rsc switch
allow em_svr sysfs_dt_firmware_android:dir { read search open };
allow em_svr sysfs_dt_firmware_android:file { read getattr open };
