# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : 2019/11/19
# Operation : Q Migration split build
# Purpose : allow to get system_mtk_rsc_sys_prop
get_prop(zygote, system_mtk_rsc_sys_prop)
