# HwBinder IPC from clients into server, and callbacks
binder_call(hal_hdmi_client, hal_hdmi_server)
binder_call(hal_hdmi_server, hal_hdmi_client)

# give permission for hal client
allow hal_hdmi_client mtk_hal_hdmi_hwservice :hwservice_manager find;
